
## <summary>policy for bitcredit</summary>


########################################
## <summary>
##	Transition to bitcredit.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bitcredit_domtrans',`
	gen_require(`
		type bitcredit_t, bitcredit_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bitcredit_exec_t, bitcredit_t)
')


########################################
## <summary>
##	Execute bitcredit server in the bitcredit domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcredit_initrc_domtrans',`
	gen_require(`
		type bitcredit_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bitcredit_initrc_exec_t)
')


########################################
## <summary>
##	Search bitcredit lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcredit_search_lib',`
	gen_require(`
		type bitcredit_var_lib_t;
	')

	allow $1 bitcredit_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bitcredit lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcredit_read_lib_files',`
	gen_require(`
		type bitcredit_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bitcredit_var_lib_t, bitcredit_var_lib_t)
')

########################################
## <summary>
##	Manage bitcredit lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcredit_manage_lib_files',`
	gen_require(`
		type bitcredit_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bitcredit_var_lib_t, bitcredit_var_lib_t)
')

########################################
## <summary>
##	Manage bitcredit lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcredit_manage_lib_dirs',`
	gen_require(`
		type bitcredit_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bitcredit_var_lib_t, bitcredit_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an bitcredit environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bitcredit_admin',`
	gen_require(`
		type bitcredit_t;
		type bitcredit_initrc_exec_t;
		type bitcredit_var_lib_t;
	')

	allow $1 bitcredit_t:process { ptrace signal_perms };
	ps_process_pattern($1, bitcredit_t)

	bitcredit_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bitcredit_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bitcredit_var_lib_t)

')

